.header { background-image: url("/img/obrastone/header.png"); }
.left-menu-item { background-image: url("/img/obrastone/bt.png"); }
.left-menu-item:hover { background-image: url("/img/obrastone/bt-hover.png"); }
.tbl th { background-image: url('/img/obrastone/tbl-header-bg.png'); border-color:#00a2e5; }
.tbl td { border-color: #a7e5ff; }
.tbl tr:hover { background-color:#edf6fa; }
