html, body { font-family:Arial; font-size:12px; height:100%; margin:0px; padding:0px; width: 100%; }
a, a:link, a:visited, a:hover { color:#000000; }
a:hover { text-decoration: none; }
a img { border:0px; }
.logo { left:35px; line-height:60px; position:absolute; top:3px; }
.content { float:left; padding-bottom: 30px; }
h1 { font-size:18px; margin:0px 0px 10px 130px; padding: 0px; }
h1.list { margin-left: 0px; }
h1.error { color:#aa0000; margin:0px 0px 10px 0px; }
input, textarea { border:1px solid #000000; }
.form-field { clear:left; font-size:14px; margin: 5px 0px; }
.form-field-label { float:left; line-height:20px; padding-right: 10px; text-align:right; width: 120px; }
.form-field-input, .form-field-val { float: left; }
.form-field-input textarea { height: 75px; margin-left: 2px; width: 175px; }
.form-field-error { color:#aa0000; float:right; line-height:20px; margin-left: 10px; }
.form-field-input input, .form-field-input textarea, .form-field-input select,
.form-field-label input, .form-field-label textarea, .form-field-label select { font-size: 14px; }
.form-field-rm:link, .form-field-rm:visited, .form-field-rm:link:hover { color:#aa0000; margin-left:5px; text-decoration: none }

.left-menu { float:left; width: 220px; }
.left-menu-item img { position: absolute; }
.left-menu-item { line-height: 59px; padding-left: 10px;}

.top-menu { left:215px; position: absolute; }
.top-menu span { line-height: 44px; }
.top-menu-item {  font-size:14px; margin-right:10px; text-shadow: black 1px 1px 3px; }
.top-menu-item:link, .top-menu-item:visited, .top-menu-item:hover { color:#ffffff; text-decoration: none; }
.top-menu-item:hover { text-decoration: underline; }

.tbl { border-collapse:collapse; font-size: 14px; }
.tbl td { border-width:1px; border-style: solid; max-width:270px; min-width:50px; padding: 6px 10px; overflow: hidden; }
.tbl td { vertical-align: top; }
.tbl td.acts, .tbl th.acts { text-align: left; }
.tbl th.acts { border-right: 1px; }

.org-tbl-name { text-align:left; }
.org-tbl-type { text-align:right; }
.org-tbl-phone { text-align:right; max-width:150px !important;}
.org-tbl-site { text-align:right; max-width:150px !important;}
.org-tbl-address { text-align:right; }
.org-tbl-country{ text-align:right; }

th.org-tbl-name { border-left-width: 1px; border-left-style: solid;}
th.org-tbl-country { border-right-width: 1px; }

.person-tbl-name { text-align:left; }
.person-tbl-org { text-align:right; }
.person-tbl-pos { text-align:right; }
.person-tbl-contact { text-align:left; }

th.person-tbl-name { border-left-width: 1px; }
th.person-tbl-contact { border-right-width: 1px; }

.report-tbl-id { text-align: right; min-width: 0px !important; }
.report-tbl-person { text-align: right; }
.report-tbl-contact { text-align: left; }
.report-tbl-date { text-align: right; }
.report-tbl-comment { text-align: left; }
.report-tbl-print { text-align: left; }

th.report-tbl-id { border-left-width: 1px; }
th.report-tbl-print { border-right-width: 1px; }

.app-tbl-id { text-align: right; min-width: 0px !important; }
.app-tbl-client { text-align: right; }
.app-tbl-supplier { text-align: right; }
.app-tbl-date { text-align: right; }
.app-tbl-attachments { text-align: right; }
.app-tbl-comment { text-align: left; }
.app-tbl-print { text-align: left; }

th.app-tbl-id { border-left-width: 1px; }
th.app-tbl-print { border-right-width: 1px; }

.app-print { border:1px dotted #000000; height:10cm; width: 12cm; }
.report-print { border:1px dotted #000000; height:12cm; width: 14cm; }

.store-tbl-id { text-align: right; min-width: 0px !important; }
.store-tbl-code { text-align: right; }
.store-tbl-desc { max-width: 200px !important; text-align: left; }
.store-tbl-supcode { text-align: right; }
.store-tbl-mancode { text-align: right; }
.store-tbl-amount { text-align: right; }
.store-tbl-minamount { text-align: right; }
.store-tbl-comment { max-width: 200px !important;; text-align: left; }

.store-tbl th a:link, .store-tbl th a:visited, .store-tbl th a:hover { color:#ffffff; text-decoration: none; }

th.store-tbl-id { border-left-width: 1px; }

.header { background-repeat: repeat-x; height: 60px; position:relative; width: 100%; }
.left-menu-item { float:right; display:block; margin-right:20px; height: 59px; position:relative; width: 156px; }
.tbl th { /*boder-top-width:1px; border-bottom-width:1px; border-top-style:solid; border-bottom-style:solid;*/border-top-width: 1px; border-bottom-width: 1px; border-style: solid; color:#ffffff; height: 29px; font-weight: normal; padding: 0px 10px; text-shadow: black 1px 1px 3px; }